.App {
  text-align: center;
  padding: 15%;
}

.App-link {
  color: #61dafb;
}
.checkbox_input{
  margin: 1%;
  padding: 5%;
}
.Heading_tag{
  font-size: 1.75rem;

}
.container1{
  display: flex;
  width: 100%;
  height: 250px;
}
.check_box{
  padding: 1.5%;
}
.password{
  justify-content: center;
  padding-top: 15%;

  text-align: center;
}




